
.container{
    width: 100%;
    max-width: 700px;
    margin: auto;
    display: flex;
    padding: 50px 0;
}
.informacao{
    display: flex;
    flex-direction: column;
    width: auto;
}
.logo{
    display: block;
}
.info_area{
    width: 100%;
    margin: 10px 0;
    color: #fff;
}

.area_grid{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.grid{
    display: grid;
    width: 430px;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

@media(max-width:750px){
    .container{
        flex-direction:column;
    }

    .informacao{
        margin-bottom:50px;
        align-items:center;
    }
    .info_area{
        display:flex;
        justify-content: space-around;
        text-align: center;
    }
    .area_grid{
        justify-content: center;
        margin: 0 20px;
    }
    .grid{
        grid-template-columns: repeat(3,1fr);
    }
}

